.title-text {
  margin-top: 20px;
  font-family: 'Roboto Condensed';
  font-weight: 500;
  font-size: 30px;
}

.article-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 500px;
  height: 400px;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 100px;
}

.article-card-img {
  transition: 0.5s all ease-in-out;
}

.article-card-img:hover {
  transform: scale(1.1);
}
