.block {
  width: 100%;
  height: 100vh;
  margin: 0px;
}

.head-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-size: 100px;
  font-weight: 600;
  font-family: 'Anton';
  margin-top: 20px;
  margin-bottom: 40px;
}

.blog-sub-head {
  font-size: 40px;
  font-weight: 600;
  font-family: 'Anton';
  margin-top: 50px;
  margin-left: 50px;
}

.hr {
  background-color: #e5e9ec;
  height: 2px;
  width: 90%;
  margin: 30px;
}

.article-box-div {
  display: flex;
  padding: 20px;
}
